body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "ladoss princi ladosx"
    "footer footer footer";
    grid-template-columns: auto 700px auto;
    grid-template-rows: auto auto 100px;
    background-color: rgb(112, 112, 112);
    grid-gap: 0px;
}

*{
    padding: 0px;
    margin: 0px;

}


.crianca-gorda{
    display:grid;
    padding: 50px;
    height: 250px;
    width: 200px;
}


.logo{
    width: 200px;
    height: 130px;
    border-radius: 70%;
    border: 70%;
}

.foto{
    height: 250px;
    width: 250px;
    padding: 50px;
    padding-left: 100px;
    

}

header{
    display: flex;
    align-items: center;
    color: white
    
}

footer{
    display: flex;
    align-items: center;
}

p{
    color: black;
    font-size: larger;
}

.grid-h{
    grid-area: cabeca;
    background-color: #4f4f4f;
    display:flex;
    text-align: right;
}

.grid-a{
    grid-area: ladoss;
    background-color:aliceblue;

}
.grid-m{
    grid-area: princi;
    background-color: aliceblue;
}
 
.grid-n{
    grid-area: ladosx;
    background-color: aliceblue;
}

.grid-f{
    grid-area: footer;
    background-color: #4f4f4f;
    
}
